@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@252&display=swap');

body {
    background-color: #F7FFF7;
}

.gamefield {
    background-color: #313B72;
    height: 1100px;
    width: 900px;
    margin: auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}


h1, h2, h3 {
    color: #F7FFF7;
}


.ruletwo {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 100px;
}

.numbers {
    font-size: 140%;
}

hr {
    width: 70%;
}

.subline {
    width: 10%;
}

button {
    border-style:double;
    background-color: #F7FFF7;
    font-family: 'Roboto Slab', serif;
    font-size: 100%;
    margin: 1%;
}

.yes, .no {
    display: inline-block;
    margin: 2%;
}

.yes:hover, .no:hover {
    color:#227C9D;
}

#play {
    height: 70px;
    width: 130px;
}

#reset {
    height: 70px;
}

button:hover {
    background-color:#227C9D;
    color: #F7FFF7;
    cursor: pointer;
}
